*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: sans-serif;
    opacity: 1;
}
body
{
	margin:0;
	padding:0;
	height: 100%;
    width: 100%;
	display: flex;
	flex-direction: column;	
}
.pagprincipal
{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 10% auto;
    padding: 2px;
    overflow: hidden;   
	text-align:center;
}
h1
{
	font-size:40px;
}
.cajafuera {
    background-color: #f5f5f5;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}
.formulariocaja
{
    width: 400px;
    height: 550px;
    position: relative;
    margin: auto;
	background: #f9f9f9;
    padding: 2px;
    overflow: hidden;  
	border: 2px solid #333;
	border-radius: 2px;
    background: #ffffff;
    padding: 20px;
    overflow: hidden;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.botondeintercambiar{
    width: 240px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 6px 0.5px #333;
    border-radius: 30px;
}
.botoncambiarcaja{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
	font-weight: bold;
	font-size:16px;
}
#btnvai{
    top: 0;
    left: 0;
    position: absolute;
    width: 130px;
    height: 100%;
	background-color: #2196F3;
    border-radius: 30px;
	transition: .5s;	
}
.logovai
{
    text-align: center;
}
.logovai img
{
    width: 100px;
    height: 100px;
    background-color: #2196F3;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.grupo-entradas{
    position: absolute;
    width: 280px;
    transition: .5s;
}
.cajaentradatexto{
    width: 100%;
    padding: 8px 10px;
    margin: 10px 0 10px 0;
	font-size:16px;
	border-radius:5px;
	border:1px solid #333;	
}
.botonenviar{
    width: 100%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin-top: 10px;
    border: 0;
    outline: none;
    border-radius: 10px;
	border:1px solid #333;
	font-size:16px;
	color:white;
	background-color: #2196F3;
}
.checkboxvai{
    margin: 5px 10px 24px 0;
	text-align:right;
	font-size:12px;
}
#frmlogin{
    left: 50px;
}
#frmregistrar{
    left: 450px;
}
a
{
	text-decoration-line: underline;
	cursor:pointer;
}
table
{
	text-align:center;
    width: 98%;
    border-collapse: collapse;
    border: 3px solid #333;
	margin:50px auto;
    background: white;
}
th 
{
    background: #4CAF50;
    height: 40px;
    font-weight: lighter;
    text-shadow: 0 1px 0 #38678f;
    color: white;
    border: 1px solid #4CAF50;
    box-shadow: inset 0px 1px 2px #568ebd;
    transition: all 0.2s;
	font-size: 18px;
}
tr 
{
    border-bottom: 1px solid #cccccc;
	width:100%;
}
td 
{
    border: 1px solid #cccccc;
    padding: 10px;
    transition: all 0.2s;
	font-size: 14px;
}
.txtrecuperar
{
	font-size: 14px;
	text-align:center;
	width: 100px;
	display: inline-block;
	background-color: #2196F3;
	padding: 6px 10px;
	border-radius:5px;
	color:white;
	border:1px solid #333;
	cursor:pointer;
}
.cajaentradarecaptcha 
{
    width: 70%;
    padding: 8px 10px;
    margin: 10px 0 10px 0;
	font-size:16px;
	border-radius:5px;
	border:1px solid #333;
}
.fondorecaptcha 
{
	border: 2px solid #333;
    padding: 10px;
	font-size:100%;
    background: url(img/fondo.jpg) top left;
    background-size: 100%;
    display: inline;
	cursor: pointer;
}